html, body {
	font-family: Consolas, monaco, monospace;
	background-color: #272822;
	color: #F8F8F2;
}

.container {
	margin: 50px;
}

a {
	text-decoration: none;
	color: #A6E22E;
}

a:hover {
	color: #F92672;
}

h1 {
	color: #F92672;
}

h2 {
	color: #66D9EF;
}

a {
	color: tomato;
}

a:visited {
	color: tomato;
}

a:hover {
	color: rgb(255, 145, 145);
}

a:active,
a:focus {
	color: red;
}

.connection {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 55em;
	margin: 0 auto;
	margin-bottom: 4em;
}

/* Hide the additional nav on big screens.
  Why? Because the two columns are right next to each other and visible at all time.
  On mobile screens, however, they are in one column, so we need a way to quickly go to the login. */
.connection-nav {
	display: none;
	color: white;
}

.connection-nav p {
	margin: 0;
}

.connection-nav a {
	color: white;
	margin: 1em;
}

/* ---------------------------------------
 * Box.
 * --------------------------------------- */

.box {
	width: 40vw;
	margin: 1em;
	padding: 1em;
	background: white;
	border: 1px solid rgb(172, 27, 2);
	border-radius: 0.25em;
	box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.25);
}

.box :first-child {
	margin-top: 0;
}

.box :last-child {
	margin-bottom: 0;
}

.box h2 {
	padding-bottom: 0.6em;
	border-bottom: 1px solid #ddd;
	font-size: 1.3em;
	text-align: center;
}

/* ---------------------------------------
 * Forms.
 * --------------------------------------- */

/* FIXME: this is not pretty. Too much coupling and heritages. */

.form p,
.form hr {
	margin: 0 0 1em;
}

.form input:focus {
	outline-color: tomato;
}

.form .center {
	text-align: center;
}

.form .center label + label {
	margin-left: 3em;
}

.form [type="radio"] {
	margin-right: 0.5em;
}

.form [type="text"],
.form [type="email"],
.form [type="password"] {
	width: 100%;
	margin-top: 0.25em;
	padding: 0.5em;
	border: 1px solid #ddd;
	border-radius: 4px;
}

.form [type="submit"],
.form [type="button"] {
	cursor: pointer;
	width: 100%;
	padding: 0.5em;
	background: tomato;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
	color: white;
	transition: all 0.25s ease-out;
}

.form [type="submit"]:hover,
.form [type="button"]:hover {
	transform: scale(1.04, 1);
}

.form [type="submit"]:active,
.form [type="button"]:active {
	transform: scale(0.8, 0.8);
}

.form .button-twitter {
	background: #1da1f2;
}

.form .button-google {
	background: #0f9d58;
}

.center {
	color: seagreen;
}

.form > p > label {
	color: #1da1f2;
}
@media (max-width: 45em) {
	.page-header {
		font-size: 0.8em;
	}

	.connection {
		flex-direction: column;
	}

	.connection-nav {
		display: block;
	}

	.box {
		width: auto;
	}

	.prices {
		font-size: 0.8em;
	}
}

@media (max-width: 30em) {
	.prices {
		width: auto;
	}
}